resources/glove.twitter.27B.25d.txt.gz
resources/stance-semeval2016
resources/fake_rada
resources/flair-ner-eu
resources/flair-lemma-eu
resources/flair-aspects-en
resources/flair-acb-en
resources/flair-polarity-en
resources/bert-multilabel-acd-en
resources/transformers-ner
resources/es-post-50e

project/hyperpartisan-news-detection

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*